.background-container {
    background-color: #e5e5e5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-pokedex {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    justify-content: center;
    margin: 70px 0px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}
.card-pokedex:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.add-pokemon {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    border: 6px dashed rgba(34, 34, 34, 0.38);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.add-pokemon:hover {
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2);
    background-color: #093103;
}
.icon {
    stroke : #6D6464
}
.button-add {
    height: 100%;
    align-items: center;
}
.pokemon {
    margin: 30px 0px;
}
.card-pokemon {
    width: 229px;
    height: 366px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}
.card-pokemon:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
.card-img {
    position: relative;
    width: 190px;
    height: 181px;
    left: 18px;
    top: 18px;
    background: url(""), #e5e5e5;
    border-radius: 30px;
}
.card-name {
    text-align: center;
    position: relative;
    height: 54px;
    top: 25px;
    font-family: "Reem Kufi";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #ffffff;
}
.card-type {
    position: relative;
    width: 118px;
    height: 29px;
    left: 50px;
    top: 50px;
    text-align: center;
    background: #f2f2f2;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.title-img-pokemon {
    width: 600px;
    height: 250px;
}
.color-normal {
    background: #635a53;
}
.color-electric {
    background: #dad332;
}
.color-grass {
    background: #539748;
}
.color-water {
    background: #4381a4;
}
.color-fire {
    background: #e4860c;
}
.color-poison {
    background: #5f08eb;
}
.color.ground {
    background: #093103;
}
.color-bug {
    background: #382202;
}
.color-default {
    background: #212121;
}
